<%- include("templates/header") %> 
	<div>Users:</div>
    <ul>
        <% let i=0; %>
		<% for(i=0; i < users.length; i++) { %>
        <%- include('templates/user', {user: users[i]})  %> 
        <a href="/promote/<%= users[i].username %>">Promote</a>
        <a href="/demote/<%= users[i].username %>">Demote</a>
        <% } %> 
    </ul>
<%- include("templates/footer") %> 

<!-- <%- include("templates/header") %>
<div>Users:</div>
<ul>
  <% let i=0; %>
  <% for(i=0; i < users.length; i++) { %>
    <%- include('templates/user', {user: users[i]})  %>
    <form action="/promote" method="post">
      <input type="hidden" name="username" value="<%= users[i].username %>">
      <button type="submit">Promote</button>
    </form>
    <form action="/demote" method="post">
      <input type="hidden" name="username" value="<%= users[i].username %>">
      <button type="submit">Demote</button>
    </form>
  <% } %>
</ul>
<%- include("templates/footer") %> -->